@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
    position: relative;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background: #00D1C1;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }